<div class="container">
    <div class="row">
        <div class="col-2 border">
            <div class="row">
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-pencil"></i>
					</button>
                </div>
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-line"></i>
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-rect"></i>
					</button>
                </div>
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-circle"></i>
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-text"></i>
					</button>
                </div>
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-polygon"></i>
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn">
						<i class="tool icon-eye-dropper"></i>
					</button>
                </div>
                <div class="col-6 border button-col d-flex justify-content-center">
                </div>
            </div>
            <div class="row">
                <div class="col-12 border button-col d-flex justify-content-center">
                    <input type="color" value="#000000">
                </div>
            </div>
            <div class="row">
                <div class="col-12 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
                <div class="col-6 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border button-col d-flex justify-content-center">

                    <button type="button" class="btn btn-success">
						A
					</button>
                </div>
            </div>
        </div>
        <div class="col-10 border">
            <div class="row">
                <div class="col-12 border">
                    <div class="row">
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border button-col d-flex justify-content-center">

                            <button type="button" class="btn btn-success">
								A
							</button>
                        </div>
                        <div class="col-1 border">
                        </div>
                        <div class="col-1 border">
                        </div>
                        <div class="col-1 border">
                        </div>
                        <div class="col-1 border">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .button-col d-flex justify-content-center {
        padding-left: 0px;
        padding-right: 0px;
    }
    .tool {
        background-size: cover;
        display: inline-block;
        height: 16px;
        width: 16px;
        }
    .color-label {
        font-size: x-small;
        display: block;
    }
    .icon-line{
        background-image : url(/assets/svg_diagram_editor/line.svg);
    }
    .icon-pencil{
        background-image : url(/assets/svg_diagram_editor/pencil.svg);
    }
    .icon-rect{
        background-image : url(/assets/svg_diagram_editor/rectangle.svg);
    }
    .icon-circle{
        background-image : url(/assets/svg_diagram_editor/circle.svg);
    }
    .icon-text{
        background-image : url(/assets/svg_diagram_editor/text.svg);
    }
    .icon-polygon{
        background-image : url(/assets/svg_diagram_editor/polygon.svg);
    }
    .icon-eye-dropper{
        background-image : url(/assets/svg_diagram_editor/eye-dropper.svg);
    }
</style>
