<div class="svg-editor">
    <div class="fabric-canvas">
        <canvas id="canvas"></canvas>
    </div>
    <div class="vertical-toolbar">
        <div>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/pencil.svg);" ng-click="$ctrl.createPencilDrawing()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/line.svg);" ng-click="$ctrl.createLine()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/rectangle.svg);" ng-click="$ctrl.createRect()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/circle.svg);" ng-click="$ctrl.createCircle()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/text.svg);" ng-click="$ctrl.createText()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/polygon.svg);" ng-click="$ctrl.createPolygon()">
            </button>
            <button class="icon-tool toolbar-button thin-button"
                style="background-image:url(/assets/svg_diagram_editor/eye-dropper.svg);" ng-click="$ctrl.copyColor()">
            </button>
            <div class="vert-bottom-toolbar">
                <div>
                    <div class="color-well">
                        <div>Stroke</div>
                        <div id="stroke-color" class="colorPicker"></div>
                    </div>
                    <div class="color-well">
                        <div>Fill</div>
                        <div id="fill-color" class="colorPicker"></div>
                    </div>
                    <div class="color-well">
                        <div>bg</div>
                        <div id="bg-color" class="colorPicker"></div>
                    </div>
                </div>
                <div>
                    <button class="icon-tool toolbar-button thin-button"
                        style="background-image:url(/assets/svg_diagram_editor/undo.svg);">
                    </button>
                    <button class="icon-tool toolbar-button thin-button"
                        style="background-image:url(/assets/svg_diagram_editor/redo.svg);">
                    </button>
                </div>
                <button class="toolbar-button fat-button" ng-click="$ctrl.removeShape()">Remove</button>
                <button class="toolbar-button fat-button">Clear</button>
            </div>
        </div>
    </div>
    <div class="horz-toolbar">
        <div class="input-tag">
            <input type="checkbox" ng-model="$ctrl.fabricjsOptions.italic" ng-change="$ctrl.onItalicToggle()"><span style="padding-left: 3px;">Italic</span>
        </div>
        <div class="input-tag">
            <input type="checkbox" ng-model="$ctrl.fabricjsOptions.bold" ng-change="$ctrl.onBoldToggle()"><span style="padding-left: 3px;">Bold</span>
        </div>
        <div class="input-tag">
            <select ng-model="$ctrl.fabricjsOptions.fontFamily" ng-options="font for font in $ctrl.fontFamily" ng-change="$ctrl.onFontChange()"></select>
        </div>
        <div class="input-tag">
            <select ng-model="$ctrl.fabricjsOptions.size" ng-options="size for size in $ctrl.sizes" ng-change="$ctrl.onSizeChange()"></select>
        </div>  
    </div>
</div>
<button ng-click="$ctrl.print()">print Data</button>
<style>
    .svg-editor {
        background-color: #ffffff;
        min-height: 400px;
        position: relative;
    }

    .svg-editor > * {
        position: absolute
    }

    .svg-editor, .svg-editor * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .svg-editor .fabric-canvas {
        border: 1px solid #555555;
        bottom: 0;
        cursor: default;
        left: 62px;
        right: 0;
        top: 0;
        bottom: 31px;
    }

    .svg-editor .horz-toolbar {
        background-color: #ffffff;
        border: 1px solid #555555;
        height: 31px;
        left: 62px;
        right: 0;
        bottom: 0;
    }

    .svg-editor .horz-toolbar .input-tag {
        border-radius: 3px;
        float: left;
        font-size: small;
        height: 28px;
        margin: 1px;
        padding-left: 3px;
        padding-top: 5px;
        position: relative;
    }

    .svg-editor .vertical-toolbar {
        background-color: #ffffff;
        border: 1px solid #555555;
        bottom: 0;
        left: 0;
        top: 0;
        width: 62px;
    }

    .svg-editor .vertical-toolbar .fat-button {
        clear: both;
        font-size: small;
        width: 57px
    }

    .svg-editor .vertical-toolbar .icon-tool {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .svg-editor .vertical-toolbar .thin-button {
        float: left;
        position: relative;
        width: 26px;
    }

    .svg-editor .vertical-toolbar .toolbar-button {
        background-color: #ffffff;
        border: 2px solid transparent;
        border-radius: 3px;
        height: 26px;
        line-height: 26px;
        margin: 2px;
        padding: 0;
        text-align: center;
    }

    .svg-editor .vertical-toolbar .vert-bottom-toolbar {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0
    }

    .svg-editor .vertical-toolbar .vert-bottom-toolbar .color-well {
        float: left;
        font-size: 10px;
        text-align: center;
        padding-bottom: 3px;
        width: 60px
    }
    .svg-editor .vertical-toolbar .vert-bottom-toolbar .color-well .colorPicker {
        border: 1px solid #000000;
        border-radius: 3px;
        height: 28px;
        margin: 0 auto;
        width: 28px;
        background-color: #000000;
    }
</style>
